

<div id="app" class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <input type="text" v-model="message" class="form-control" />
        <h1>{{message}}</h1>
        <button v-on:click="reverseMessage" class="btn btn-primary">Reverse</button>
    </div>

    <div class="col-md-6 col-md-offset-3 well">
        <button class="btn btn-success" v-on:click="addNumber">Add Number</button>
        <button class="btn btn-success" v-on:click="reverseNumbers">Reverse Numbers</button>
        <ul>
            <template v-for="number in numbers">
                <li style="font-size: 15px;">{{number}}</li>
            </template>
        </ul>
    </div>
    
    <div class="col-md-6 col-md-offset-3 well">
        <input type="text" v-model="nameToAdd" class="form-control"/>
        <button class="btn btn-success" v-on:click="addName">Add Name</button>
        <ul>
            <template v-for="name in names">
                <li style="font-size: 15px;">{{name}}</li>
            </template>
        </ul>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/index.js"></script>
}